In [83]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score 
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [78]:
df = pd.read_csv("/content/drive/MyDrive/energydata_complete.csv")
pd.set_option("display.max_columns",None)
df.shape

(19735, 29)

In [79]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,19.592106,50.949283,7.910939,54.609083,20.267106,35.388200,22.029107,42.936165,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,1.844623,9.022034,6.090347,31.149806,2.109993,5.114208,1.956162,5.224361,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,15.330000,29.815000,-6.065000,1.000000,15.390000,23.200000,16.306667,29.600000,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,18.277500,45.400000,3.626667,30.025000,18.700000,31.500000,20.790000,39.066667,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,19.390000,49.090000,7.300000,55.290000,20.033333,34.863333,22.100000,42.375000,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,20.619643,53.663333,11.256000,83.226667,21.600000,39.000000,23.390000,46.536000,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,25.795000,96.321667,28.290000,99.900000,26.000000,51.400000,27.230000,58.780000,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

# Question 12

In [82]:
x_feature = df[["T2"]]
y_feature = df[["T6"]]
x_train,x_test,y_train,y_test = train_test_split(x_feature,y_feature,test_size=0.3,random_state=1)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.fit_transform(x_test)

linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
predicted_values = linear_model.predict(x_test)

r2_scores = r2_score(y_test, predicted_values)
r2_scores

0.6458740034957209

# Question 13

In [46]:
df = df.drop(columns=["date","lights"])
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
features_df = normalized_df.drop(columns=["Appliances"])
target_df = normalized_df["Appliances"]

x_train,x_test,y_train,y_test = train_test_split(features_df,target_df,test_size=0.3,random_state=42)
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
predicted_val = linear_model.predict(x_test)
mae = mean_absolute_error(y_test,predicted_val)
round(mae, 2)

0.05

# Question 14

In [59]:
# the residual sum of square
residuals = y_test - predicted_val
squared_residuals = np.square(residuals)
rss = np.sum(squared_residuals)
round(rss, 2)

45.35

# Question 15

In [61]:
res = y_test - predicted_val  #rmse_1
squared_res = np.square(res)
mse = np.mean(squared_res)
round(mse, 3)
rmse = np.sqrt(mse)
round(rmse, 3)

0.088

# Question 16

In [64]:
coefficient_deter = r2_score(y_test,predicted_val) 
round(coefficient_deter, 2)

0.15

# Question 17

In [67]:
weights = pd.Series(linear_model.coef_,x_train.columns).sort_values()
feature_weight = weights.reset_index()
feature_weight
feature_weight.columns = ["parameters", "counts"]
min_vaL = feature_weight["counts"].min()
max_vaL = feature_weight["counts"].max()

feature_weight[feature_weight["counts"] == min_vaL]
feature_weight[feature_weight["counts"] == max_vaL]

   parameters    counts
25       RH_1  0.553547

# Question 18

In [73]:
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(x_train,y_train)
predicted_value = ridge_model.predict(x_test)
print(round(np.sqrt(mean_squared_error(y_test,predicted_value)),3))

0.088

# Question 19

In [74]:
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(x_train,y_train)
predicted = lasso_model.predict(x_test)
feat_weights = lasso_model.coef_
#feat_weights

weight_val = []
for weights in feat_weights:
    if weights != 0:
        weight_val.append(weights)
weight_count_val = len(weight_val)
weight_count_val

4

# Question 20

In [77]:
rmse = np.sqrt(mean_squared_error(y_test,predicted))
round(rmse, 3)

0.094